<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="myTestBean" class="me.capthua.advancedjava.week5.entity.MyTestBean">
        <meta key="hehehe" value="aaaa"/>
        <property name="testStr" value="heheda"/>
    </bean>

    <context:component-scan base-package="me.capthua.advancedjava.week5">
    </context:component-scan>
</beans>